.home_body {
  display: flex;
  .left_tab{
    width: 300px;
    height: 100vh;
    background-color: aliceblue;
    overflow-y: auto;
  }
  .right{
    width: calc(100vw - 300px);
    // background-color: antiquewhite;
  }
  .right_top{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    div{
      // background-color: red;
    }
  }
  .right_body{
    height: calc(100vh - 50px);
    width: 100%;
    overflow-y: auto;
    // background-color: red;
  }
}
